{% if projects %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Project</th>
            <th scope="col">Current</th>
            <th scope="col">Description</th>
            <th scope="col">Visibility</th>
            <th scope="col">Members</th>
        </tr>
    </thead>
    <tbody>
    {% for project in projects %}
        {% for user_membership in user.membership_set.all %}
            {% if user_membership.project == project %}
            <tr>
                <td>
                    <a href="{% url 'project' project_id=project.id %}" class="btn btn-success" role="button">{{project}}</a>
                    {% if user_membership.access_policies == 'a' %}
                        <a href="{% url 'project_edit' pk=project.id %}" class="btn" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="bi bi-pencil-fill ms-1"></i></a>
                    {% endif %}
                </td>
                <td>
                    {% if project.id|slugify == request.COOKIES.current_project_id %}
                    <button class="btn btn-sm btn-secondary" disabled>Current</button>
                    {% else %}
                    <a href="{% url 'project_set_current' pk=project.id %}?next={{request.get_full_path}}" class="btn btn-sm btn-primary" role="button">
                        Set
                    </a>
                    {% endif %}
                </td>
                <td>
                    {{project.description | urlize}}
                </td>
                <td>{% if project.public %}Public{% else %}Private{% endif %} (Not implemented)</td>
                <td>
                    {% include './list_project_members.html' %}
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">You have no projects. <a href="{% url 'project_create' %}" class="btn btn-primary">Create new project</a></div>
{% endif %}