{% include "inventory/parts/header.html" %}
<h1><span class="text-secondary opacity-50 me-2 fs-3">Profile</span><span>Dashboard</span></h1>
<div class="alert alert-light border mt-4 mb-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Property</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Username</th>
                <td>{{user.get_username}}</td>
            </tr>
            <tr>
                <th scope="row">Name</th>
                <td>{{user.first_name}}</td>
            </tr>
            <tr>
                <th scope="row">Last name</th>
                <td>{{user.last_name}}</td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>
                    <a href="mailto:{{user.email}}">{{user.email}}</a>
                </td>
            </tr>
            <tr>
                <th scope="row">Password</th>
                <td><a href="{% url 'profile_change_password' %}" class="btn btn-outline-secondary" role="button">Change password</a></td>
            </tr>
            <tr>
                <th scope="row">Projects</th>
                <td>
                    {% with user.project_members.all as projects %}
                    {% include "organization/parts/list_projects.html" %}
                    {% endwith %}
                    <a href="{% url 'project_create' %}" class="btn btn-primary" role="button"><i class="bi bi-plus"></i> Create new project</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% include "inventory/parts/footer.html" %}