{% include "../../parts/header.html" %}
<div id="header">
    <div id="header-element">
        <span class="badge text-dark fw-light fs-2 p-1 ps-0 m-0 align-middle">L0 part designer</span>
    </div>
</div>
{% include "inventory/parts/page-info.html" with text="Design your primers to domesticate L0 parts" %}

<noscript>You need to enable JavaScript to run this app.</noscript>
<script>
    var csrf_token = "{{csrf_token}}";
</script>

<div id="root-l0d"></div>

<div class="alert alert-info">Need a domestication guide?
    <a href="https://www.uloop.org/domestication.html" target="_blank">Loop Assembly</a> /
    <a href="https://academic.oup.com/plphys/article/162/3/1618/6110862" target="_blank">GoldenBraid</a> /
    <a href="https://currentprotocols.onlinelibrary.wiley.com/doi/10.1002/cpmb.115" target="_blank">Generic - MoClo</a>
</div>

{% include "../../parts/footer.html" %}
