{% extends "inventory/parts/base.html" %}
{% load general_extras %}
{% load static %}

{% block header_object_name %}Stocks{% endblock %}
{% block header_object_links %}
        <a target="_blank" href="{% url 'glycerolstock_create' %}" class="btn btn-primary{% if not on_current_project_member_can_write_or_admin %} disabled{% endif %}" role="button"><i
                class="bi bi-plus"></i></a>
        <a target="_blank" href="{% url 'glycerolstock_boxes' %}" class="btn btn-warning" role="button"><i
                class="bi bi-archive"></i></a>
        <a target="_blank" href="{% url 'glycerolstock_qr' %}" class="btn btn-info" role="button"><i
                class="bi bi-upc-scan"></i></a>
        {% include "inventory/parts/show_from_all_projects.html" %}
{% endblock %}

{% block content %}
{% include "./form_results.html" %}
{% if has_glycerolstocks %}
<div id="glycerolstocks-list" data-server-search="true">
    <div id="glycerolstocks-tables">
        <div class="row">
            <div class="col-4">
                {% include "inventory/parts/table_search.html" with object_type="Stocks" %}
            </div>
            <div class="col-8 d-flex flex-row-reverse">
                <div id="glycerolstocks-filter" class="pe-table-filter">
                    {% include "inventory/parts/table_filters.html" %}
                </div>
            </div>
        </div>
        <div id="root-glycerolstocks">
        </div>
        <script defer type="text/javascript" src="{% static 'js/glycerolstocks_table.js' %}?version=14"></script>
    </div>
</div>
{% else %}
<div class="alert alert-warning">No GStocks found.</div>
{% endif %}
{% endblock %}
