{% load general_extras %}
<div class="glycerolstock-location-panel bg-light p-4 mb-4">
    <div class="row">
        <h3 class="mb-4">
            <span class="badge text-dark text-secondary opacity-50 p-1 ps-0 fs-4 m-0 fw-lighter align-middle">
                Location
            </span>
            <span class="badge text-dark fw-light fs-4 p-1 m-0 align-middle">
                {{location.name}}
            </span>
        </h3>
        {% if location.boxes %}
            {% for box in location.boxes %}
                {% include "inventory/parts/box-render.html" %}
            {% endfor %}
        {% else %}
        <div class="alert alert-info">No boxes in this location</div>
        {% endif %}
    </div>
</div>
