{% extends "inventory/parts/base.html" %}
{% block header_object_type %}Plasmid{% endblock %}
{% block header_object_name %}Create - Form{% endblock %}
{% block content %}
{% url 'plasmids' as cancel_url %}
{% include "inventory/parts/inventory_form_panel.html" with form_section_label="Plasmid" form_title="Create plasmid" form_description="Add a plasmid to the current project." form_icon="bi-plus-square" submit_label="Create plasmid" submit_icon="bi-plus-lg" cancel_url=cancel_url cancel_label="Back to plasmids" %}
{% endblock %}
