{% extends "inventory/parts/base.html" %}
{% load general_extras %}
{% load humanize %}
{% load mathfilters %}
{% load static %}

{% block header_object_name %}Plasmids{% endblock %}
{% block header_object_links %}
{% include "inventory/parts/show_from_all_projects.html" %}
<a href="{% url 'plasmids' %}" class="btn btn-secondary" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh"><i class="bi bi-arrow-clockwise"></i></a>
<a href="{% url 'plasmid_import' %}" class="btn btn-outline-primary" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Batch upload GenBank plasmids"><i class="bi bi-upload"></i></a>
<a href="{% url 'plasmid_create_wizard' %}" class="btn btn-primary{% if not on_current_project_member_can_write_or_admin %} disabled{% endif %}" role="button" target="_blank"><i
        class="bi bi-plus"></i> Create</a>
{% endblock %}

{% block content %}
{% include "./form_results.html" %}
{% if has_plasmids %}
<div id="plasmids-list" data-server-search="true">
    <div id="plasmids-tables">
        <div class="row">
            <div class="col-4">
                {% include "inventory/parts/table_search.html" with object_type="plasmids" %}
            </div>
            <div class="col-8 d-flex flex-row-reverse">
                <div id="plasmids-filter" class="pe-table-filter">
                    {% include "inventory/parts/table_filters.html" %}
                </div>
            </div>
        </div>
        <div id="root-plasmids">
        </div>
        <script defer type="text/javascript" src="{% static 'js/plasmids_table.js' %}{{version}}"></script>
    </div>
</div>
{% else %}
<div class="alert alert-warning">No plasmids found.</div>
{% endif %}
{% endblock %}
