{% extends "inventory/parts/base.html" %}
{% load primer_extras %}
{% load humanize %}
{% load static %}

{% block header_object_name %}Primers{% endblock %}
{% block header_object_links %}
    <a href="{% url 'primers' %}" class="btn btn-secondary" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh"><i class="bi bi-arrow-clockwise"></i></a>
    <a href="{% url 'primer_import' %}" class="btn btn-outline-primary{% if not user_can_manage_primers %} disabled{% endif %}" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Batch upload primers" aria-label="Batch upload primers"><i class="bi bi-upload"></i></a>
    <a href="{% url 'primer_create' %}" class="btn btn-primary{% if not user_can_manage_primers %} disabled{% endif %}" role="button" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Create primer" aria-label="Create primer"><i
                class="bi bi-plus"></i></a>
{% endblock %}


{% block content %}
{% include "./form_results.html" %}
<div id="primers-list" data-server-search="true">
    <div class="row mb-3">
        <div class="col-4">
            {% include "inventory/parts/table_search.html" with object_type="primers" %}
        </div>
    </div>
    <div id="root-primers"></div>
    <script defer type="text/javascript" src="{% static 'js/primers_table.js' %}?version=13"></script>
</div>
{% endblock %}
