{% extends "inventory/parts/base.html" %}
{% load re_extras %}

{% block header_object_name %}Restriction enzymes{% endblock %}
{% block header_object_links %}
<a href="{% url 'restrictionenzyme_create' %}" class="btn btn-primary" role="button"><i class="bi bi-plus"></i> Create</a>
{% endblock %}

{% block content %}
{% include "./form_results.html" %}
{% if restrictionenzymes %}
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">Restriction enzyme</th>
        <th scope="col">Recognition site</th>
        <th scope="col">Buffers</th>
        <th scope="col">HF</th>
    </tr>
    </thead>
    <tbody>
    {% for restrictionenzyme in restrictionenzymes %}
    <tr>
        <td>
            <a class="btn btn-success" role="button" href="{% url 'restrictionenzyme' restrictionenzyme_id=restrictionenzyme.id %}">
                {{restrictionenzyme}}
            </a>
        </td>
        <td>
            {% re_render restrictionenzyme.recognition_site restrictionenzyme.fcut restrictionenzyme.rcut as re_render_seq %}
            {{re_render_seq|safe}}
        </td>
        <td>
            {% if restrictionenzyme.buffer_activity_entries %}
                {% for buffer_entry in restrictionenzyme.buffer_activity_entries %}
                <span class="badge text-bg-light border me-1 mb-1">{{ buffer_entry.name }}: {{ buffer_entry.activity_percent }}%</span>
                {% endfor %}
            {% else %}
            -
            {% endif %}
        </td>
        <td>
            {% if restrictionenzyme.hf_version %}
            Yes
            {% else %}
            No
            {% endif %}
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-warning">
    No Restriction Enzymes found. <a href="{% url 'restrictionenzyme_create' %}" class="btn btn-primary btn-sm ms-2" role="button">Create one</a>
</div>
{% endif %}
{% endblock %}
