{% load static %}
<div id="footer">
    <div class="row">
        <div class="col-6">
            {% if user.is_authenticated and user.is_staff %}
            <p id="admin_site-link">
                <a href="/admin">Admin site</a>
            </p>
            {% endif %}
            <p>Code by <a href="https://meristem.bio" target="_blank">Meristem</a> [<a
                    href="https://github.com/Meristembio/Weaver" target="_blank">GitHub</a>]</p>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <img src="{% static 'img/footer.png' %}{{version}}" alt="Weaver footer" />
        </div>
    </div>
</div>
</div>
</body>
</html>