<div id="nav-menu" class="nav">
<div class="btn-group me-2 dropdown-center">
  <a role="button" class="btn {{btn_class}} border" href="{% url 'plasmids' %}">Plasmids</a>
  <button type="button" class="btn btn-secondary opacity-25 dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item text-center small" href="{% url 'plasmid_create_wizard' %}"><span class="text-secondary">+ Create </span> Wizard</a></li>
    <li><a class="dropdown-item text-center small" href="{% url 'services-l0d' %}"><span class="text-secondary">+ Create </span> L0 designer</a></li>
    <li><a class="dropdown-item text-center small" href="{% url 'plasmid_create' %}"><span class="text-secondary">+ Create </span> Form</a></li>
    <li><a class="dropdown-item text-center small" href="{% url 'plasmid_import' %}"><span class="text-secondary">+ Import </span> GenBank</a></li>
      <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item text-center small" href="{% url 'plasmid_validations' %}">Validation</a></li>
    <li><a class="dropdown-item text-center small" href="{% url 'experiments' %}">Experiments</a></li>
  </ul>
</div>
<div class="btn-group me-2 dropdown-center">
  <a role="button" class="btn {{btn_class}} border" href="{% url 'glycerolstocks' %}">Stocks</a>
  <button type="button" class="btn btn-secondary opacity-25 dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item text-center small" href="{% url 'glycerolstock_boxes' %}">Boxes</a></li>
    <li><a class="dropdown-item text-center small" href="{% url 'glycerolstock_qr' %}">From QR</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item text-center small" href="{% url 'glycerolstock_create' %}">+ Create</a></li>
  </ul>
</div>
<div class="btn-group me-2 dropdown-center">
  <a role="button" class="btn {{btn_class}} border" href="{% url 'recipes' %}">Recipes</a>
  <button type="button" class="btn btn-secondary opacity-25 dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item text-center small" href="{% url 'recipe_create' %}">+ Create</a></li>
  </ul>
</div>
<div class="btn-group me-2 dropdown-center">
  <button class="btn {{btn_class}} border dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Components</button>
  <ul class="dropdown-menu">
      <li><a class="dropdown-item text-center small" href="{% url 'primers' %}">Primers</a></li>
      <li><a class="dropdown-item text-center small" href="{% url 'restrictionenzymes' %}">Restriction Enzymes</a></li>
  </ul>
</div>
<div class="btn-group dropdown-center">
  <button class="btn {{btn_class}} border dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Services</button>
  <ul class="dropdown-menu">
      <li><a class="dropdown-item text-center small" href="{% url 'services-l0d' %}">L0 Designer</a></li>
      <li><a class="dropdown-item text-center small" href="{% url 'services-pcr' %}">PCR</a></li>
      <li><a class="dropdown-item text-center small" href="{% url 'services-sanger' %}">Sanger sequencing</a></li>
      <li><a class="dropdown-item text-center small" href="{% url 'services-blast' %}">Blast</a></li>
      <li><a class="dropdown-item text-center small" href="{% url 'services-batch-prints' %}">Batch Prints</a></li>
      <li><a class="dropdown-item text-center small" href="{% url 'services-stats' %}">Stats</a></li>
  </ul>
</div>
</div>
