{% load static %}
{% with img_version="?img_version=2" %}
<div id="index-access" class="row">
    <div class="index-access-wrapper col-3">
        <div class="index-access">
            <a href="{% url 'plasmids' %}">
                <p>Plasmids</p>
                <img src="{% static 'img/index-plasmid.png' %}?ver=2" alt="Plasmid"/>
            </a>
        </div>
    </div>
    <div class="index-access-wrapper col-3">
        <div class="index-access">
            <a href="{% url 'glycerolstocks' %}">
                <p>Glycerol stocks</p>
                <img src="{% static 'img/index-glycerolstocks.png' %}{{img_version}}" alt="Glicerol stocks"/>
            </a>
        </div>
    </div>
    <div class="index-access-wrapper col-3">
        <div class="index-access">
            <a href="{% url 'recipes' %}">
                <p>Recipes</p>
                <img src="{% static 'img/index-recipes.png' %}{{img_version}}" alt="Recipes"/>
            </a>
        </div>
    </div>
    <div class="index-access-wrapper col-3">
        <div class="index-access">
            <a href="{% url 'restrictionenzymes' %}">
                <p>Restriction enzymes</p>
                <img src="{% static 'img/index-res.png' %}{{img_version}}" alt="Restriction Enzymes"/>
            </a>
        </div>
    </div>
</div>
{% endwith %}