{% include "./parts/header.html" %}
{% load general_extras %}
{% if glycerolstock %}
{% include "./parts/glycerolstock-header.html" %}
{% include "./form_results.html" %}
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Property</th>
        <th scope="col">Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Strain</th>
        <td>{{glycerolstock.strain}}</td>
    </tr>
    <tr>
        <th scope="row">Strain description</th>
        <td>{{glycerolstock.strain.description}}</td>
    </tr>
    <tr>
        <th scope="row">Plasmid</th>
        <td>
        {% if glycerolstock.plasmid %}
            <a href="{% url 'plasmid' plasmid_id=glycerolstock.plasmid.id %}" class="btn btn-outline-secondary" role="button">
                <span>{{glycerolstock.plasmid.name}}</span>
                <span class="badge text-bg-light border fw-light p-1 fw-light m-0 align-middle">{{glycerolstock.plasmid.idx}}</span>
                <i class="bi bi-clipboard copy_clipboard" data-cc="{{glycerolstock.plasmid}}"></i>
            </a>
        {% else %}
            No plasmid
        {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Parent</th>
        <td>
        {% if glycerolstock.parent %}
            <a href="{% url 'glycerolstock' glycerolstock_id=glycerolstock.parent.id %}" class="btn btn-outline-secondary" role="button">
                {{glycerolstock.parent}}
            </a>
        {% else %}
            No parent
        {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Selectable markers</th>
        <td>
            {% if glycerolstock.resistantes_strain_human %}<strong>Strain Marker</strong>:
            {{ glycerolstock.resistantes_strain_human }}
            <br/>{% endif %}
            {% if glycerolstock.resistantes_human %}<strong>Plasmid Marker</strong>:
            {{ glycerolstock.resistantes_human }}
            <br/>{% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Created on</th>
        <td>{{glycerolstock.created_on}}</td>
    </tr>
    <tr>
        <th scope="row">Project</th>
        <td>{{glycerolstock.project}}</td>
    </tr>
    <tr>
        <th scope="row">Location</th>
        <td><table class="table table-hover">
               <thead>
                    <tr>
                        <th scope="col">Property</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">Position</td>
                        <td>{{glycerolstock.box_row}}{{glycerolstock.box_column}}</td>
                    </tr>
                    <tr>
                        <td scope="row">Box</td>
                        <td>{{glycerolstock.box.name}}</td>
                    </tr>
                    <tr>
                        <td scope="row">Location</td>
                        <td>{{glycerolstock.box.location}}</td>
                    </tr>
                </tbody>
        </table></td>
    </tr>
    <tr>
        <th scope="row">Details</th>
        <td>{{glycerolstock.details}}</td>
    </tr>
    <tr>
        <th scope="row">QR code</th>
        <td>
            <p id="label-qrcode"></p>
            <p>{{glycerolstock.qr_id}}</p>
            <script type="text/javascript">
            new QRCode(document.getElementById("label-qrcode"), "{{glycerolstock.qr_id}}");
            </script>
        </td>
    </tr>
    </tbody>
</table>
{% else %}
<div class="alert alert-warning">No glycerolstock found.</div>
{% endif %}
{% include "./parts/footer.html" %}