{% include "./parts/header.html" %}
{% load general_extras %}
{% load static %}
<div id="header">
    <h1>Glycerol Stocks</h1>
    <div id="header-links">
        <a target="_blank" href="{% url 'glycerolstock_create' %}" class="btn btn-primary{% if not on_current_project_member_can_write_or_admin %} disabled{% endif %}" role="button"><i
                class="bi bi-plus"></i></a>
        <a target="_blank" href="{% url 'glycerolstock_boxes' %}" class="btn btn-warning" role="button"><i
                class="bi bi-archive"></i></a>
        <a target="_blank" href="{% url 'glycerolstock_qr' %}" class="btn btn-info" role="button"><i
                class="bi bi-upc-scan"></i></a>
    </div>
    {% include "./parts/show_from_all_projects.html" %}
</div>
{% include "./form_results.html" %}
{% if has_glycerolstocks %}
<div id="glycerolstocks-list">
    <div id="glycerolstocks-tables">
        <div class="row">
            <div class="col-4">
                {% include "./parts/table_search.html" with object_type="GS" %}
            </div>
            <div class="col-8 d-flex flex-row-reverse">
                <div id="glycerolstocks-filter" class="pe-table-filter">
                    {% include "./parts/table_filters.html" %}
                </div>
            </div>
        </div>
        <div id="root-glycerolstocks">
        </div>
        <script defer type="text/javascript" src="{% static 'js/glycerolstocks_table.js' %}{{version}}"></script>
    </div>
</div>
{% else %}
<div class="alert alert-warning">No GStocks found.</div>
{% endif %}
{% include "./parts/footer.html" %}