{% include "./parts/header.html" %}
{% load general_extras %}
<div id="header">
    <h1>Plasmid Validations</h1>
    {% include "./parts/show_from_all_projects.html" %}
</div>
<div class="accordion" id="plasmidValidations">
  {% for k, list in lists.items %}
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{k}}" aria-expanded="true" aria-controls="{{k}}">
        {{list.name}} ({{list.data|length}} items)
      </button>
    </h2>
    <div id="{{k}}" class="accordion-collapse collapse" data-bs-parent="#plasmidValidations">
      <div class="accordion-body">
        {% if list.data %}
        <table class="table table-hover sortable">
            <thead>
            <tr>
                <th>Plasmid</th>
                {% if k == 'to_sequence' or k == 'to_stock' %}
                <th>Working colony</th>
                {% endif %}
                {% if k == 'under_construction' %}
                <th>Ligation raw</th>
                {% endif %}
                {% if k == 'to_colonypcr' or k == 'to_digest' or k == 'to_sequence' or k == 'to_stock' %}
                <th>cPCR</th>
                {% endif %}
                {% if k == 'to_digest' or k == 'to_sequence' or k == 'to_stock' %}
                <th>Digestion</th>
                {% endif %}
                {% if k == 'to_digest' or k == 'to_sequence' or k == 'to_stock' %}
                <th>Sequencing</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for plasmid in list.data %}
            <tr>
                <td>
                    <a href="{% url 'plasmid' plasmid_id=plasmid.id %}" class="btn btn-success table-search-search_on"
                       role="button">{{plasmid}} <i class="bi bi-clipboard copy_clipboard" data-cc="{{plasmid}}"></i></a>
                    <a href="{% url 'plasmid_validation_edit' plasmid_id=plasmid.id %}" class="btn btn-outline-info"
                       role="button">
                        <i class="bi bi-check2-square"></i>
                    </a>
                    {% if k == 'to_colonypcr' %}
                    <a href="{% url 'plasmid_pcr' plasmid_id=plasmid.id %}" class="btn btn-outline-success"
                               role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="PCR"><i class="bi bi-arrow-return-right"></i></a>
                    {% endif %}
                    {% if k == 'to_digest' %}
                    <a href="{% url 'plasmid_digest' plasmid_id=plasmid.id %}" class="btn btn-outline-secondary"
                       role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Digest"><i class="bi bi-scissors"></i></a>
                    {% endif %}
                    {% if k == 'to_stock' %}
                    <a href="{% url 'glycerolstock_create_plasmid_defined' pid=plasmid.id %}" class="btn btn-outline-secondary"
                       role="button" target="_blank">Create GS</a>
                    {% endif %}
                </td>
                {% if k == 'to_sequence' or k == 'to_stock' %}
                <td>{% if plasmid.working_colony %}#{{plasmid.working_colony}}{% else %}Not set{% endif %}</td>
                {% endif %}
                {% if k == 'under_construction' %}
                <td><i class="bi bi-clipboard copy_clipboard" data-cc="{{ ligation_raw }}"></i></td>
                {% endif %}
                {% if k == 'to_colonypcr' or k == 'to_digest' or k == 'to_sequence' or k == 'to_stock' %}
                <td><strong>{{CHECK_STATES|get_element_by_key:plasmid.colonypcr_state}}</strong>{% if plasmid.colonypcr_date %} ({{plasmid.colonypcr_date|date:"d M, Y"}}){% endif %}{% if plasmid.colonypcr_observations %}: {{plasmid.colonypcr_observations}}{% endif %}</td>
                {% endif %}
                {% if k == 'to_digest' or k == 'to_sequence' or k == 'to_stock' %}
                <td><strong>{{CHECK_STATES|get_element_by_key:plasmid.digestion_state}}</strong>{% if plasmid.digestion_date %} ({{plasmid.digestion_date|date:"d M, Y"}}){% endif %}{% if plasmid.digestion_observations %}: {{plasmid.digestion_observations}}{% endif %}</td>
                {% endif %}
                {% if k == 'to_digest' or k == 'to_sequence' or k == 'to_stock' %}
                <td><strong>{{CHECK_STATES|get_element_by_key:plasmid.sequencing_state}}</strong>{% if plasmid.sequencing_date %} ({{plasmid.sequencing_date|date:"d M, Y"}}){% endif %}{% if plasmid.sequencing_observations %}: {{plasmid.sequencing_observations}}{% endif %}</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-warning">No plasmids {{list.empty_text}}.</div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% include "./parts/footer.html" %}