{% include "./parts/header.html" %}
{% load static %}
{% if plasmid %}
    {% include "./parts/plasmid-header.html" %}
    {% if warnings %}
    {% for warning in warnings %}
        <div class="alert alert-warning">{{warning}}</div>
    {% endfor %}
    {% endif %}
    {% if sequence_file_contents %}
        <!-- OVE -->
        <div id="ove-viewer"></div>
        <script>
            var sequence_file_contents = `{{sequence_file_contents}}`;
            var save_ove_path = '{% url 'plasmid_view_edit' plasmid_id=plasmid.id %}';
        </script>
        <script type="text/javascript" src="https://unpkg.com/open-vector-editor/umd/open-vector-editor.js{{version}}"></script>
        <script type="text/javascript" src="{% static 'js/open-vector-editor-config.js' %}{{version}}"></script>
        <!-- /OVE -->
    {% else %}
        <p>No plasmid sequence file found.</p>
    {% endif %}
{% else %}
    <div class="alert alert-warning">No plasmid found.</div>
{% endif %}
{% include "./parts/footer.html" %}