{% include "./parts/header.html" %}
{% load general_extras %}
{% load humanize %}
{% if plasmid %}
{% include "./parts/plasmid-header.html" %}
{% if L0SequenceInputForm %}
<div class="alert alert-warning">Input L0 sequence and select OHs</div>
<form action="#" method="post">
    {% csrf_token %}
    {{ L0SequenceInputForm.as_p }}
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
{% elif L_1SequenceInputForm %}
<div class="alert alert-warning">Input L-1 sequence and select OHs</div>
<form action="#" method="post">
    {% csrf_token %}
    {{ L_1SequenceInputForm.as_p }}
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
{% else %}
{% include "./form_results.html" %}
{% if plasmid_create_result %}
<div class="alert alert-{{plasmid_create_result.1}}">{{plasmid_create_result.0}}</div>
{% endif %}
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Property</th>
        <th scope="col">Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Name</th>
        <td>{{plasmid.name}}</td>
    </tr>
    <tr>
        <th scope="row">Idx</th>
        <td>{{plasmid.idx}}</td>
    </tr>
    <tr>
        <th scope="row">Selectable markers</th>
        <td>
            {{ resistantes_human }}<br/>
        </td>
    </tr>
    <tr>
        <th scope="row">Sequence</th>
        <td>
            {% if plasmid.sequence %}
                <a href="{% url 'plasmid_view_edit' plasmid_id=plasmid.id %}" class="btn btn-outline-info"
                   role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="View / Edit"><i class="bi bi-eye"></i> / <i class="bi bi-pencil"></i></a>
                <div class="dropdown dropdown-download" data-bs-toggle="tooltip" data-bs-placement="top" title="Download">
                    <button type="button" class="btn btn-outline-primary dropdown-toggle" id="dropdownDownload" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-download"></i>
                    </button>
                    <div class="dropdown-menu p-2 fw-light " aria-labelledby="dropdownDownload">
                        <div class="dropdown-menu-header">Chooose format</div>
                        <hr class="m-1"/>
                        <div class="dropdown-menu-body pt-1">
                            <a href="{% url 'plasmid_download' plasmid_id=plasmid.id %}" class="btn btn-outline-primary btn-sm me-1"
                               role="button"
                               download="{{plasmid.name}}">ORIG</a>
                            <a href="{% url 'plasmid_download' plasmid_id=plasmid.id %}?format=gb" class="btn btn-outline-primary btn-sm me-1"
                               role="button"
                               download="{{plasmid.name}}">GB</a>
                            <a href="{% url 'plasmid_download' plasmid_id=plasmid.id %}?format=fasta"
                               class="btn btn-outline-primary btn-sm" role="button"
                               download="{{plasmid.name}}">FASTA</a>
                        </div>
                    </div>
                </div>
                <a href="{% url 'plasmid_digest' plasmid_id=plasmid.id %}" class="btn btn-outline-secondary"
                   role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Digest"><i class="bi bi-scissors"></i></a>
                <a href="{% url 'plasmid_pcr' plasmid_id=plasmid.id %}" class="btn btn-outline-success"
                           role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="PCR"><i class="bi bi-arrow-return-right"></i></a>
                <div class="dropdown dropdown-align" data-bs-toggle="tooltip" data-bs-placement="top" title="Align">
                    <button type="button" class="btn btn-outline-warning dropdown-toggle" id="dropdownAlign" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-list-nested"></i>
                    </button>
                    <div class="dropdown-menu p-2 fw-light " aria-labelledby="dropdownAlign">
                        <div class="dropdown-menu-header">Chooose type</div>
                        <hr class="m-1"/>
                        <div class="dropdown-menu-body pt-1">
                            <a href="{% url 'plasmid_align_fasta' plasmid_id=plasmid.id %}" class="btn btn-outline-primary btn-sm me-1" role="button" >Fasta</a>
                            <a href="{% url 'plasmid_align_sanger' plasmid_id=plasmid.id %}" class="btn btn-outline-primary btn-sm me-1" role="button" >Sanger</a>
                        </div>
                    </div>
                </div>
                {% if user_can_edit_plasmid %}
                    <div class="dropdown dropdown-enzymes" data-bs-toggle="tooltip" data-bs-placement="top" title="Build">
                        <button type="button" class="btn btn-outline-primary dropdown-toggle" id="dropdownEnzymes" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-arrow-repeat"></i><i
                            class="bi bi-hammer"></i></button>
                        {% include "./parts/enzyme-options.html" %}
                    </div>
                {% endif %}
            {% else %}
                {% if user_can_edit_plasmid %}
                <form method="post" class="default-style inline"
                      action="{% url 'plasmid_view_edit' plasmid_id=plasmid.id %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-success" role="button" name="create"><i
                            class="bi bi-file-earmark-plus"></i></button>
                </form>
                <div class="dropdown dropdown-enzymes" data-bs-toggle="tooltip" data-bs-placement="top" title="Build">
                    <button type="button" class="btn btn-outline-primary dropdown-toggle" id="dropdownEnzymes" data-bs-toggle="dropdown" aria-expanded="false"><i
                            class="bi bi-hammer"></i></button>
                    {% include "./parts/enzyme-options.html" %}
                </div>
                {% else %}
                You don't have perms to create plasmid sequence
                {% endif %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Computed size</th>
        <td>
            {% if plasmid.sequence and plasmid.computed_size != None %}
            {{plasmid.computed_size|intcomma}} bp
            {% else %}
            -
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Insert computed size</th>
        <td>
            {% if plasmid.sequence and plasmid.insert_computed_size != None %}
            {{plasmid.insert_computed_size|intcomma}} bp
            {% else %}
            -
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Backbone</th>
        <td>
            {% if plasmid.backbone %}
            <a href="{% url 'plasmid' plasmid_id=plasmid.backbone.id %}" class="btn btn-outline-secondary"
               role="button">{{plasmid.backbone}} <i class="bi bi-clipboard copy_clipboard"
                                                     data-cc="{{plasmid.backbone}}"></i></a>
            {% else %}
            -
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Inserts</th>
        <td>
            {% if plasmid.inserts.all %}
            {% for insert in plasmid.inserts.all %}
            <a href="{% url 'plasmid' plasmid_id=insert.id %}" class="btn btn-outline-secondary" role="button">{{insert}}
                <i class="bi bi-clipboard copy_clipboard" data-cc="{{insert}}"></i></a>
            {% endfor %}
            {% else %}
            -
            {% endif %}
        </td>
    </tr>
    {% if plasmid.insert_of %}
    <tr>
        <th scope="row">Insert of</th>
        <td>
            {% for insert in plasmid.insert_of %}
            <a href="{% url 'plasmid' plasmid_id=insert.id %}" class="btn btn-outline-secondary" role="button">{{insert}}
                <i class="bi bi-clipboard copy_clipboard" data-cc="{{insert}}"></i></a>
            {% endfor %}
        </td>
    </tr>
    {% endif %}
    {% if plasmid.backbone_of %}
    <tr>
        <th scope="row">Backbone of</th>
        <td>
            {% for backbone in plasmid.backbone_of %}
            <a href="{% url 'plasmid' plasmid_id=backbone.id %}" class="btn btn-outline-secondary" role="button">{{backbone}}</a>
            {% endfor %}
        </td>
    </tr>
    {% endif %}
    <tr>
        <th scope="row">Ligation</th>
        <td>
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>Text</th>
                    <td><i class="bi bi-clipboard copy_clipboard" data-cc="{{ plasmid.ligation_raw }}"></i> {{ ligation_raw }}</tr></td>
                </tr>
                <tr>
                    <th>Working concentration</th>
                    <td>
                        {% if plasmid.computed_size %}
                            {% if plasmid.type %}
                                {% if plasmid.type|stringformat:"s" == "Insert" %}
                                {{plasmid.computed_size|divide:300|floatformat:"1"|intcomma}} ng/ul
                                {% elif plasmid.type|stringformat:"s" == "Receiver" %}
                                {{plasmid.computed_size|divide:600|floatformat:"1"|intcomma}} ng/ul
                                {% endif %}
                            {% else %}
                            No plasmid type
                            {% endif %}
                        {% else %}
                            No plasmid computed size
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <th scope="row">Intended use</th>
        <td>{{plasmid.intended_use}}</td>
    </tr>
    <tr>
        <th scope="row">Type</th>
        <td>
            {{ plasmid.type }}
        </td>
    </tr>
    <tr>
        <th scope="row">Level</th>
        <td>
            {{plasmid.level}}
        </td>
    </tr>
    <tr>
        <th scope="row">Description</th>
        <td>{{plasmid.description | urlize}}</td>
    </tr>
    <tr>
        <th scope="row">Project</th>
        <td>
            <a href="{% url 'project' project_id=plasmid.project.id %}" class="btn btn-outline-secondary" role="button">{{plasmid.project}}</a>
        </td>
    </tr>
    <tr>
        <th scope="row">Created On</th>
        <td>{{plasmid.created_on}}</td>
    </tr>
    <tr>
        <th scope="row">Glycerol Stocks</th>
        <td>
            {% if plasmid.glycerolstock_set.all %}
            {% for plasmid_glycerolstock in plasmid.glycerolstock_set.all %}
            <div>
                <a href="{% url 'glycerolstock' glycerolstock_id=plasmid_glycerolstock.id %}" role="button" class="btn btn-outline-secondary">
                    <strong>{{plasmid_glycerolstock.strain}}</strong> <span className="text-muted small ps-2">{{plasmid_glycerolstock.box_row}}{{plasmid_glycerolstock.box_column}} / {{plasmid_glycerolstock.box}}</span>
                </a>
            </div>
            {% endfor %}
            <p><a href="{% url 'glycerolstock_create_plasmid_defined' pid=plasmid.id %}">Create a new one</a></p>
            {% else %}
            No GStocks found. <a href="{% url 'glycerolstock_create_plasmid_defined' pid=plasmid.id %}">Create a new one</a>.
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Validation</th>
        {% if plasmid.reference_sequence %}
        <td>This plasmid is used as reference sequence.</td>
        {% elif plasmid.under_construction %}
        <td>This plasmid is under construction.</td>
        {% else %}
        <td>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Property</th>
                    <th>Sub-Property</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Working colony</th>
                    <td></td>
                    <td>{% if plasmid.working_colony %}#{{plasmid.working_colony}}{% else %}None{% endif %}</td>
                </tr>
                <tr>
                    <th>Colony PCR</th>
                    <td>State</td>
                    <td>
                        {% for check_state in CHECK_STATES %}
                        {% if check_state.0 == plasmid.colonypcr_state %}
                        <span class="badge bg-{% if check_state.0 == 0 %}secondary{% endif %}{% if check_state.0 == 1 %}primary{% endif %}{% if check_state.0 == 2 %}success{% endif %}">{{check_state.1}}</span>
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>Date</td>
                    <td>{{plasmid.colonypcr_date|date:"d M, Y"}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Observations</td>
                    <td>{{plasmid.colonypcr_observations}}</td>
                </tr>
                <tr>
                    <th>Digestion</th>
                    <td>State</td>
                    <td>
                        {% for check_state in CHECK_STATES %}
                        {% if check_state.0 == plasmid.digestion_state %}
                        <span class="badge bg-{% if check_state.0 == 0 %}secondary{% endif %}{% if check_state.0 == 1 %}primary{% endif %}{% if check_state.0 == 2 %}success{% endif %}">{{check_state.1}}</span>
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>Date</td>
                    <td>{{plasmid.digestion_date|date:"d M, Y"}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Observations</td>
                    <td>{{plasmid.digestion_observations}}</td>
                </tr>
                <tr>
                    <th>Sequencing</th>
                    <td>State</td>
                    <td>
                        {% for check_state in CHECK_STATES %}
                        {% if check_state.0 == plasmid.sequencing_state %}
                        <span class="badge bg-{% if check_state.0 == 0 %}secondary{% endif %}{% if check_state.0 == 1 %}primary{% endif %}{% if check_state.0 == 2 %}success{% endif %}">{{check_state.1}}</span>
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>Date</td>
                    <td>{{plasmid.equencing_date|date:"d M, Y"}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Observations</td>
                    <td>{{plasmid.sequencing_observations}}</td>
                </tr>
                {% if plasmid.sequencing_clustal_file %}
                <tr>
                    <td></td>
                    <td>Clustal file</td>
                    <td>
                            <a href="{% url 'plasmid_download_clustal' plasmid_id=plasmid.id %}" class="btn btn-outline-primary btn-sm me-1"
                               role="button"
                               download="{{plasmid.name}}-alignment">Download</a>
                    </td>
                </tr>
                {% endif %}
                </tbody>
            </table>
            <p>
                {% if user_can_edit_plasmid %}
                <a class="btn btn-outline-info" role="button"
                   href="{% url 'plasmid_validation_edit' plasmid_id=plasmid.id %}">Edit validation</a>
                {% endif %}
            </p>
        </td>
        {% endif %}
    </tr>
    </tbody>
</table>
{% endif %}
{% else %}
{% if wizard_error %}
<div class="alert alert-danger">{{wizard_error}}</div>
{% else %}
<div class="alert alert-warning">No plasmid found.</div>
{% endif %}
{% endif %}
{% include "./parts/footer.html" %}