{% include "./parts/header.html" %}
{% load re_extras %}
<div id="header">
    <h1>Restriction Enzymes</h1>
    <div id="header-links">
        {% if perms.inventory.add_restrictionenzime %}
        <a href="{% url 'restrictionenzyme_create' %}" class="btn btn-primary" role="button"><i class="bi bi-plus"></i></a>
        {% endif %}
    </div>
</div>
{% include "./form_results.html" %}
{% if restrictionenzymes %}
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">Restriction enzyme</th>
        <th scope="col">Recognition site</th>
        <th scope="col">1.1</th>
        <th scope="col">2.1</th>
        <th scope="col">3.1</th>
        <th scope="col">CS</th>
        <th scope="col">HF</th>
    </tr>
    </thead>
    <tbody>
    {% for restrictionenzyme in restrictionenzymes %}
    <tr>
        <td>
            <a class="btn btn-success" role="button" href="{% url 'restrictionenzyme' restrictionenzyme_id=restrictionenzyme.id %}">
                {{restrictionenzyme}}
            </a>
        {% if perms.inventory.change_restrictionenzime %}
            <a href="{% url 'restrictionenzyme_edit' pk=restrictionenzyme.id %}" class="btn btn-outline-secondary"
               role="button"><i class="bi bi-pencil-fill"></i></a>
        {% endif %}
        </td>
        <td>
            {% re_render restrictionenzyme.recognition_site restrictionenzyme.fcut restrictionenzyme.rcut as re_render_seq %}
            {{re_render_seq|safe}}
        </td>
        <td>
            {% if restrictionenzyme.activity_buffer_1_1 %}
            {{restrictionenzyme.activity_buffer_1_1}} %
            {% else %}
            -
            {% endif %}
        </td>
        <td>
            {% if restrictionenzyme.activity_buffer_2_1 %}
            {{restrictionenzyme.activity_buffer_2_1}} %
            {% else %}
            -
            {% endif %}
        </td>
        <td>
            {% if restrictionenzyme.activity_buffer_3_1 %}
            {{restrictionenzyme.activity_buffer_3_1}} %
            {% else %}
            -
            {% endif %}
        </td>
        <td>
            {% if restrictionenzyme.activity_buffer_CS %}
            {{restrictionenzyme.activity_buffer_CS}} %
            {% else %}
            -
            {% endif %}
        </td>
        <td>
            {% if restrictionenzyme.hf_version %}
            Yes
            {% else %}
            No
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-warning">No Restriction Enzymes found.</div>
{% endif %}
{% include "./parts/footer.html" %}