{% include "inventory/parts/header.html" %}
<div id="header">
    <h1>Create a new Component</h1>
    <div id="header-links">
        <a href="{% url 'recipe_create' %}" class="btn btn-outline-danger" role="button"><i class="bi bi-arrow-return-left"></i></a>
        {% if perms.protocols.add_reactive %}
        <a href="{% url 'reactive_create' %}" class="btn btn-primary" role="button"><i class="bi bi-plus"></i> Reactive</a>
        {% endif %}
    </div>
</div>
{% include "inventory/form_results.html" %}
<div id="form-recipe">
    {% include "inventory/inventory_create_form.html" %}
</div>
{% include "inventory/parts/footer.html" %}