{% include "inventory/parts/header.html" %}
{% if reactive %}
<div id="header">
    <h1>Reactive / {{reactive}}</h1>
    <div id="header-links">
        <a href="{% url 'recipe' recipe_id=recipe_id %}" class="btn btn-outline-danger" role="button"><i class="bi bi-arrow-return-left"></i></a>
    </div>
</div>
{% include "inventory/form_results.html" %}
<div id="form-reactive">
    {% include "inventory/inventory_update_form.html" %}
</div>
{% else %}
<div class="alert alert-warning">No reactive found.</div>
{% endif %}
{% include "inventory/parts/footer.html" %}