{% include "inventory/parts/header.html" %}
<div id="header">
    <h1>Recipes</h1>
    <div id="header-links">
        <a href="{% url 'recipe_create' %}" class="btn btn-primary" role="button"><i class="bi bi-plus"></i></a>
    </div>
    {% include "inventory/parts/show_from_all_projects.html" with text="or just mine" %}
</div>
{% include "inventory/form_results.html" %}
{% if recipes %}
<div id="recipes-list">
    <div id="recipes-tables">
        <div class="row">
            <div class="col-4">
                {% include "inventory/parts/table_search.html"  with object_type="recipes" %}
            </div>
            <div class="col-8 d-flex flex-row-reverse">
                <div id="recipes-filter" class="pe-table-filter">
                    {% include "inventory/parts/table_filters.html" %}
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover sortable table-search-target">
    <thead>
    <tr>
        <th scope="col">Recipe</th>
        <th scope="col" data-defaultsort='disabled'>Components</th>
    </tr>
    </thead>
    <tbody>
    {% for recipe in recipes %}
    <tr class="filter-item {% if recipe.category %}{% for cat in recipe.category.all %}filter-{{cat}} {% endfor %}{% endif %}">
        <td>
            <a class="btn btn-success table-search-search_on" role="button" href="{% url 'recipe' recipe_id=recipe.id %}">{{recipe}}</a>
            <a href="{% url 'recipe_label' recipe_id=recipe.id %}" class="btn btn-outline-info" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Print label"><i class="bi bi-tag-fill"></i></a>
            <a href="{% url 'recipe_edit' pk=recipe.id %}" class="btn btn-outline-secondary {% if recipe.owner != request.user %}disabled{% endif %}" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="bi bi-pencil-fill"></i></a>
        </td>
        <td>
            {% for component in recipe.components.all %}
            {% if forloop.counter != 1 %}
            +
            {% endif %}
            {{component.reactive}}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    </div>
</div>
{% else %}
<div class="alert alert-warning">No recipes found.</div>
{% endif %}
{% include "inventory/parts/footer.html" %}