{% include "inventory/parts/header.html" %}
</div>
<div id="intro">
    <div class="intro-item diagonal-box">
        <div class="container">
            <div class="row">
                <div class="col-4 text-light">
                    <p class="fs-1">Open source biotech software</p>
                    <p class="text-loght mt-4 lh-2 fs-4 fw-light"><span class="logo-main fs-3">weaver</span> is an
                        open source platform for biotechnology research and development.</p>
                    <p class="mt-4">
                        <a class="btn btn-light btn-lg me-2" role="button" href="{% url 'plasmids' %}" target="_blank">Try</a>
                        <a class="btn btn-light btn-lg me-2" role="button" href="https://github.com/Meristembio/Weaver" target="_blank">Source / Install</a>
                        <a class="btn btn-light btn-lg me-2 disabled" role="button" aria-disabled="true">Cloud (soon)</a>
                    </p>
                </div>
                <div class="col-1">
                </div>
                <div class="col-7 shadow p-3 mb-5 bg-body rounded">
                    <video id="intro-video" style="width: 100%; height: auto; pointer-events: none;" autoplay muted loop>
                      <source src="/static/video/intro.mp4" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-item">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="">Molecular biology and administration tools</h1>
                    <p>Explore <span class="logo-main fs-5">weaver</span> highlights</p>
                </div>
                <div class="col-12 mt-4">
                    <ul class="nav nav-tabs fs-5 fw-light" id="introTab" role="tablist">
                      <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#introTabContent-mbiotools" type="button" role="tab" aria-controls="profile" aria-selected="false">Microbiology tools</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#introTabContent-plasmidEditor" type="button" role="tab" aria-controls="home" aria-selected="true">Plasmid editor</button>
                      </li>
                      <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#introTabContent-administration" type="button" role="tab" aria-controls="contact" aria-selected="false">Administration</button>
                      </li>
                    </ul>
                    <div class="tab-content p-4 fs-6 fw-light" id="introTabContent">
                      <div class="tab-pane fade show active" id="introTabContent-mbiotools" role="tabpanel" aria-labelledby="profile-tab">
                          <div class="row">
                              <div class="col-6">
                                  <p>Weaver contains several tools that allow researcher to:</p>
                                  <p>
                                      <ul class="lh-lg">
                                        <li>Simple and rapid - golden gate based - <i>in silico</i> <a href="{% url 'plasmid_create_wizard' %}">plasmid assembly wizard</a></li>
                                        <li><a href="{% url 'services-l0d' %}">Level 0 part designer</a></li>
                                        <li>Plasmid restriction enzyme digestion design</li>
                                        <li>PCR design</li>
                                        <li>Online sequence manipulation</li>
                                        <li>Sequence file conversion / download tool</li>
                                        <li><a href="{% url 'services-blast' %}">Database blast</a></li>
                                      </ul>
                                  </p>
                              </div>
                              <div class="col-6">
                                  <img src="/static/img/intro/intro-detail-1.jpg" class="d-block w-100" alt="Tools / Intro">
                              </div>
                          </div>
                      </div>
                      <div class="tab-pane fade" id="introTabContent-plasmidEditor" role="tabpanel" aria-labelledby="home-tab">
                          <div class="row">
                              <div class="col-6">
                                  <p>Weaver implements <a href="https://teselagen.com/">Teselagen</a>'s <a href="https://github.com/TeselaGen/openVectorEditor">Open Vector Editor</a>.</p>
                                  <p>This tool provides:</p>
                                  <p>
                                      <ul class="lh-lg">
                                          <li>Circular / linear DNA sequence inspection</li>
                                          <li>Restriction enzyme cut prediction and digestion simulation</li>
                                          <li>Online DNA sequence edition</li>
                                          <li>DNA sequence translation</li>
                                      </ul>
                                  </p>
                              </div>
                              <div class="col-6">
                                  <img src="/static/img/intro/intro-detail-2.jpg" class="d-block w-100" alt="Editor / Intro">
                              </div>
                          </div>
                      </div>
                      <div class="tab-pane fade" id="introTabContent-administration" role="tabpanel" aria-labelledby="contact-tab">
                          <div class="row">
                              <div class="col-6">
                                  <p>Weaver provides administration tools to:</p>
                                  <p>
                                      <ul class="lh-lg">
                                        <li>Manage <a href="{% url 'plasmids' %}">plasmids</a>, <a href="{% url 'primers' %}">primers</a>, <a href="{% url 'glycerolstocks' %}">glycerol stocks</a> (<a href="{% url 'glycerolstock_boxes' %}">boxes</a>), <a href="{% url 'restrictionenzymes' %}">restriction enzymes</a> and more</li>
                                        <li>Collaborative cloud work</li>
                                        <li>Organize all elements in projects</li>
                                        <li>Print samples labels</li>
                                      </ul>
                                  </p>
                              </div>
                              <div class="col-6">
                                  <img src="/static/img/intro/intro-detail-3.jpg" class="d-block w-100" alt="Admin / Intro">
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
{% include "inventory/parts/footer.html" %}