<div id="header">
    <h1><span class="text-secondary opacity-50 me-2 fs-3">G.S.</span><span>{{glycerolstock}}</span></h1>
    <div id="header-links">
        {% if user_can_edit_gs %}
        <a href="{% url 'glycerolstock_edit' pk=glycerolstock.id %}" class="btn btn-outline-secondary" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="bi bi-pencil"></i></a>
        <a href="{% url 'glycerolstock_delete' pk=glycerolstock.id %}" class="btn btn-outline-danger" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Trash"><i class="bi bi-trash"></i></a>
        {% endif %}
        <a href="{% url 'glycerolstock_label' glycerolstock_id=glycerolstock.id %}" class="btn btn-outline-info"
               role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Label"><i class="bi bi-tag-fill"></i></a>
        <a href="{% url 'glycerolstock' glycerolstock_id=glycerolstock.id %}" class="btn btn-outline-warning" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Return"><i class="bi bi-arrow-return-left"></i></a>
    </div>
</div>