<!DOCTYPE html>
{% load static %}
{% load general_extras %}
<html lang="en">
<head>
{% with version="?version=18" %}
    <meta charset="UTF-8">
    <link href="{% static 'css/googleapis-css2.css' %}{{version}}" rel="stylesheet">
    <title>Weaver</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}{{version}}">

    <!-- CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}{{version}}" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/style.css' %}{{version}}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/style_inventory.css' %}{{version}}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/style_protocols.css' %}{{version}}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}{{version}}">
    <link rel="stylesheet" type="text/css" media="print" href="{% static 'css/style_inventory_print.css' %}{{version}}"/>
    <!-- /CSS -->

    <!-- JS -->
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}{{version}}" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}{{version}}"></script>
    <script type="text/javascript" src="{% static 'js/inventory.js' %}{{version}}"></script>
    <script type="text/javascript" src="{% static 'js/protocols.js' %}{{version}}"></script>
    <script type="text/javascript" src="{% static 'js/qrcode.min.js' %}{{version}}"></script>
    <script type="text/javascript" src="{% static 'js/table_search.js' %}{{version}}"></script>
    {% if request.get_full_path == "/inventory/plasmid/create/wizard" %}
    <script defer type="text/javascript" src="{% static 'js/wizard.js' %}{{version}}"></script>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/wizard.css' %}{{version}}"/>
    {% endif %}
    {% if request.get_full_path == "/inventory/services/gtr/" %}
    <script defer type="text/javascript" src="{% static 'js/gtr.js' %}{{version}}"></script>
    {% endif %}
    {% if request.get_full_path == "/inventory/services/l0d/" %}
    <script defer type="text/javascript" src="{% static 'js/l0d.runtime.js' %}{{version}}"></script>
    <script defer type="text/javascript" src="{% static 'js/l0d.2.js' %}{{version}}"></script>
    <script defer type="text/javascript" src="{% static 'js/l0d.js' %}{{version}}"></script>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/l0d.css' %}{{version}}"/>
    {% endif %}
    <!-- /JS -->

    <!-- Sorteable tables -->
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/bootstrap-sortable.css' %}{{version}}"/>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}{{version}}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-sortable.js' %}{{version}}"></script>
    <!-- /Sorteable tables -->
    <!-- /plasmid sequence viewer -->

    <!-- Select2 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}{{version}}"/>
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}{{version}}"></script>
    <!-- /Select2 -->

    <!-- OVE -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/open-vector-editor/umd/main.css{{version}}" />
    <script type="text/javascript" src="{% static 'js/bio-parsers.js' %}{{version}}"></script>
    <!-- /OVE -->
{% endwith %}
</head>
<body>
<nav>
    <div class="container pt-4 pb-2">
        <div id="nav-wrapper" class="row">
            <div id="nav-logo" class="mt-1 col-4">
                <a href="/">
                    <img src="{% static 'img/logo.png' %}{{version}}" alt="Weaver Logo" />
                </a>
            </div>
            <div id="nav-right" class="col-8">
                <div id="nav-session" class="nav justify-content-end">
                    {% if user.is_authenticated %}
                    <div class="btn-group me-2 dropdown-center">
                      <button role="button" class="btn btn-primary opacity-50">{% with request.COOKIES.current_project_id as cpi %}
                          {% if cpi %}
                          <a class="text-light" href="{% url 'project' project_id=request.COOKIES.current_project_id %}">{{cpi|get_project_name}}</a>
                          {% else %}
                          No project set
                          {% endif %}
                          {% endwith %}</button>
                      <button type="button" class="btn btn-primary opacity-75 dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                          {% for m in user.membership_set.all %}
                          <li><a class="dropdown-item text-center small" href="{% url 'project_set_current' pk=m.project.id %}?next={{request.get_full_path}}">{{m.project}}</a></li>
                          {% endfor %}
                          <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-center small" href="{% url 'project_create' %}">+ Create</a></li>
                      </ul>
                    </div>
                    <a href="{% url 'projects' %}" class="btn btn-primary me-2 btn-sm" role="button">All Projects</a>
                    <a href="{% url 'profile' %}" class="btn btn-outline-secondary me-2 btn-sm" role="button">Profile / {{ user.get_username }}</a>
                    <a href="{% url 'logout_view' %}" class="btn btn-outline-secondary btn-sm" role="button">Logout</a>
                    {% else %}
                    <a href="{% url 'login_view' %}" class="btn btn-primary mt-4" role="button">Login</a>
                    {% endif %}
                </div>
                {% if user.is_authenticated %}
                <div id="nav-menu" class="nav justify-content-end mt-2">
                    <div class="btn-group me-2 dropdown-center">
                      <a role="button" class="btn btn-light border" href="{% url 'plasmids' %}">Plasmids</a>
                      <button type="button" class="btn btn-secondary opacity-25 dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item text-center small" href="{% url 'plasmid_create_wizard' %}"><span class="text-secondary">+ Create </span> Wizard</a></li>
                        <li><a class="dropdown-item text-center small" href="{% url 'plasmid_create_l0d' %}"><span class="text-secondary">+ Create </span> L0 designer</a></li>
                        <li><a class="dropdown-item text-center small" href="{% url 'plasmid_create' %}"><span class="text-secondary">+ Create </span> Form</a></li>
                          <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-center small" href="{% url 'plasmid_validations' %}">Validation</a></li>
                      </ul>
                    </div>
                    <div class="btn-group me-2 dropdown-center">
                      <a role="button" class="btn btn-light border" href="{% url 'glycerolstocks' %}">Stocks</a>
                      <button type="button" class="btn btn-secondary opacity-25 dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item text-center small" href="{% url 'glycerolstock_boxes' %}">Boxes</a></li>
                        <li><a class="dropdown-item text-center small" href="{% url 'glycerolstock_qr' %}">From QR</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-center small" href="{% url 'glycerolstock_create' %}">+ Create</a></li>
                      </ul>
                    </div>
                    <div class="btn-group me-2 dropdown-center">
                      <a role="button" class="btn btn-light border" href="{% url 'recipes' %}">Recipes</a>
                      <button type="button" class="btn btn-secondary opacity-25 dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item text-center small" href="{% url 'recipe_create' %}">+ Create</a></li>
                      </ul>
                    </div>
                    <div class="btn-group me-2 dropdown-center">
                      <button class="btn btn-light border dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Components</button>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item text-center small" href="{% url 'primers' %}">Primers</a></li>
                          <li><a class="dropdown-item text-center small" href="{% url 'restrictionenzymes' %}">Restriction Enzymes</a></li>
                      </ul>
                    </div>
                    <div class="btn-group dropdown-center">
                      <button class="btn btn-light border dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Services</button>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item text-center small" href="{% url 'services-l0d' %}">L0 Designer</a></li>
                          <li><a class="dropdown-item text-center small" href="{% url 'services-blast' %}">Blast</a></li>
                          <li><a class="dropdown-item text-center small" href="{% url 'services-stats' %}">Stats</a></li>
                      </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
<div class="container pt-2">