<div id="header">
    <div id="header-element">
        <span class="badge text-dark text-secondary opacity-50 p-1 ps-0 fs-2 m-0 fw-lighter align-middle">Primer</span>
        <span class="badge text-dark fw-light fs-2 p-1 m-0 align-middle">{{primer}}</span>
    </div>
    <div id="header-links">
        {% if user_can_edit_primer %}
        <a href="{% url 'primer_edit' pk=primer.id %}" class="btn btn-outline-secondary" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="bi bi-pencil"></i></a>
        <a href="{% url 'primer_delete' pk=primer.id %}" class="btn btn-outline-danger" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Trash"><i
                class="bi bi-trash"></i></a>
        {% endif %}
        <a href="{% url 'primer' primer_id=primer.id %}" class="btn btn-outline-warning" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Return"><i class="bi bi-arrow-return-left"></i></a>
    </div>
</div>