<div class="table_search">
    <h4>Search</h4>
    <input id="table_search-input" type="text" placeholder="Search {{object_type}} ...">
    <button id="table_search-clear" type="button" class="btn btn-outline-secondary ms-2">Clear</button>
    {% if object_type == "plasmids" %}
    <div class="col form-check form-switch">
        <small class="text-secondary"><input id="table_search-expand"  role="switch" class="form-check-input" type="checkbox" onclick="expandName()"> Expand names</small>
    </div>
    {% endif %}
</div>