{% include "inventory/parts/header.html" %}
{% if component %}
{% include "./parts/component-header.html" %}
{% include "inventory/form_results.html" %}
<div class="alert alert-warning">Editing this component will affect all recipes that contain it</div>
<div id="form-inventory">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update" class="btn btn-primary">
    </form>
</div>
{% else %}
<div class="alert alert-warning">No component found.</div>
{% endif %}
{% include "inventory/parts/footer.html" %}