{% include "inventory/parts/header.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" media="print" href="{% static 'css/style_inventory_print.css' %}"/>
{% if recipe %}
{% include "./parts/recipe-header.html" %}
<div id="label">
    <div id="label-main">
        <div id="label-info">
            <p id="label-name" data-initval="{{recipe}}">
                {{recipe}}
            </p>
            <p id="label-created">
                <span class="label-name">Date</span>
                <span class="label-value">{{date}}</span>
            </p>
            <p id="label-components">
                <span class="label-name">Components</span>
                {% for component in recipe.components.all %}
                <span class="label-value">{{component.reactive}} - <span class="recipe-component-value" data-initval="{{component.concentration}}">{{component.concentration}}</span> {{component.concentration_unit}}</span>
                {% endfor %}
            </p>
        </div>
    </div>
</div>
<p id="recipe-concentration-wrapper"><span>Select recipe concentration (X): </span><input type="number" id="recipe-concentration" value="1" /></p>
<button id="label-print-button" type="button" class="btn btn-info" onclick="window.print();return false;">Print label</button>
{% else %}
<div class="alert alert-warning">No recipe found.</div>
{% endif %}
{% include "inventory/parts/footer.html" %}