{% if projects %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Project</th>
            <th scope="col">Current</th>
            <th scope="col">Description</th>
            <th scope="col">Visibility</th>
            <th scope="col">Memberships</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
    {% for project in projects %}
        <tr>
            <td>
                <a href="{% url 'project' project_id=project.id %}" class="btn btn-success me-2" role="button">{{project}}</a>
            </td>
            <td>
                {% if project.id|slugify == request.COOKIES.current_project_id %}
                <span class="badge bg-primary">Current</span>
                {% else %}
                <a href="{% url 'project_set_current' pk=project.id %}?next={{request.get_full_path}}" class="btn btn-sm btn-warning" role="button">
                    Set
                </a>
                {% endif %}
            </td>
            <td>
                {{project.description | urlize}}
            </td>
            <td>{% if project.public %}Public{% else %}Private{% endif %} (Not implemented)</td>
            {% for user_membership in user.membership_set.all %}
            {% if user_membership.project == project %}
            <td>
                {% include './list_project_members.html' %}
            </td>
            <td>
                <a href="{% url 'project_edit' pk=project.id %}" class="btn btn-outline-secondary{% if user_membership.access_policies != 'a' %} disabled{% endif %}" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i
            class="bi bi-pencil-fill"></i></a>
            </td>
            {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">You have no projects. <a href="{% url 'project_create' %}" class="btn btn-primary">Create new project</a></div>
{% endif %}