<div id="header">
    <div id="header-element">
        <span class="badge text-dark text-secondary opacity-50 p-1 ps-0 fs-2 m-0 fw-lighter align-middle">Component</span>
        <span class="badge text-dark fw-light fs-2 p-1 m-0 align-middle">{{component}}</span>
    </div>
    <div id="header-links">
        {% include './create_reactive_button.html' %}
        <a href="{% url 'component_delete' pk=component.id recipe_id=view.kwargs.recipe_id %}" class="btn btn-outline-danger" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Trash"><i
                class="bi bi-trash"></i></a>
        <a href="{% url 'recipe' recipe_id=view.kwargs.recipe_id %}" class="btn btn-outline-warning" role="button"><i class="bi bi-arrow-return-left"></i></a>
    </div>
</div>